body {
    margin: 10px; 
}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-right: 20px;    
}
.error {
    color: red;
    font-weight: bold;
    
}
form * {
    display: block;
    margin-bottom: 0.5rem;
}
#dHome {
    display: flex;
}
#dHome>* {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
}